.custom-card {
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  box-shadow: 3px 3px 5px #d1d1d1, -3px -3px 5px #ffffff;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px #c4c4c4, -6px -6px 10px #ffffff;
}

.custom-card-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 250px;
  object-fit: fill;
}

.custom-card-title {
  font-size: 1.5rem;
  color: #007bff;
  font-weight: bold;
}

.custom-button {
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.custom-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
